@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap");

body{
  color: #ffffff;
  margin: 0;
  background-color: #000000f0;
  font-family: 'Poppins';
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}